{% extends 'base/base.html' %}
{%  load static %}
{% block extra_header %}
        <link rel="stylesheet" href="{% static 'contact_us/css/contact_style.css' %}">
        <script type="text/javascript" src="{% static 'contact_us/scripts/contact_js.js' %}"></script>

{% endblock %}

{% block container %}
    <div style="margin-top: 140px;margin-bottom: 50px">

    {% block members %}
                {% include 'contact_us/members.html' %}
            {% endblock %}


    {% block form %}
                {% include 'contact_us/form.html' %}
            {% endblock %}
</div>

{% endblock %}

