{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="center aligned" style="margin-top: 100px">
        <div class="ui placeholder segment"
             style="border-radius: 20px; background-color: var(--bubble) !important ;height: 80vh;margin: auto">
            <div class="ui icon header">
                <img src="{% static 'images/logo_darkblue.png' %}" style="width: 80px;">
                <br>
                <strong style="color: var(--header)">
                    پیام شما با موفقیت ثبت شد.
                </strong>
            </div>

            <a class="ui button" style="background-color: var(--secondary-dark) ;color: white"
               href="{% url 'intro:homepage' %}">بازگشت به خانه</a>



    </div>
</div>
{% endblock %}