*
!*/

# Then add everything needed

!/apps/**
!/docs/**
!/.git/**
!/.github/**
!.gitignore
!/Rasta_Web/**
!/locale/**git
!manage.py
!requirements.txt
!/static/files/**
!/templates/**

*.pyc
!runtime.txt
!Procfile
!*.yml
!dockerfile
!dockerfile_worker
!*.sh
