{% load static %}
<!DOCTYPE html>
<html lang="fa">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Rasta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/nav.js' %}"></script>
    <link rel="stylesheet" href="{% static 'semantic/semantic.rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebarstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>


{% block extra_header %}{% endblock %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body dir="rtl" style="height: 100%; background-image: url({% static 'images/pattern.jpg' %})" >
<div class="ui container center aligned" style="padding-top: 100px">
    <img src="{% static 'images/404_el.png' %}" style="width: 60%" class="">
    <div><P style="font-size: 20px;font-weight: bolder;color: var(--primary-dark)"> صفحه مورد نظر یافت نشد :((</P></div>
    <a class="ui button" href="{% url 'intro:homepage' %}" style="background-color: var(--secondary-dark) ;color: white;font-weight: bolder;margin-top: 20px">
                    برگرد به صفحه اصلی !
                </a>
</div>


</body>
</html>