{% load static %}
<!DOCTYPE html>
<html lang="fa">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
        <link rel="manifest" href="/manifest.json">
      <!-- Najva Push Notification -->
        <script type="text/javascript">
            (function(){
                var now = new Date();
                var version = now.getFullYear().toString() + "0" + now.getMonth() + "0" + now.getDate() +
                    "0" + now.getHours();
                var head = document.getElementsByTagName("head")[0];
                var link = document.createElement("link");
                link.rel = "stylesheet";
                link.href = "https://app.najva.com/static/css/local-messaging.css" + "?v=" + version;
                head.appendChild(link);
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.async = true;
                script.src = "https://app.najva.com/static/js/scripts/rastaiha233-website-14360-45ed14c6-5e04-429b-81ee-ad6cf4afd77b.js" + "?v=" + version;
                head.appendChild(script);
                })()
        </script>
        <!-- END NAJVA PUSH NOTIFICATION -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160800151-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160800151-1');

    </script>
    <title>Rasta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/nav.js' %}"></script>
    <link rel="stylesheet" href="{% static 'semantic/semantic.rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/nav-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebarstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>


    {% block extra_header %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body dir="rtl" style="height: 100%; background-image: url({% static 'images/background.jpeg' %})">


{% block sidebar %}
{% include 'base/sidebar.html' %}
{% endblock %}
<div class="pusher">
    {% block body %}
    <div id="main" style="min-height:  80vh!important;">
        <div class="container">
            {% block navbar %}
            {% include 'base/navbar.html' %}
            {% endblock %}
        </div>

        {% block content %}
        <div class="ui container">
            {% block container %}

            {% endblock %}
        </div>
        {% endblock %}


    </div>
    {% block footer %}
    {% include 'base/footer.html' %}
    {% endblock %}
    {% endblock %}

</div>
{% block footer_scripts %}
{% endblock %}

</body>
</html>