{% load static %}
<!DOCTYPE html>
<html lang="fa">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>Rasta</title>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'semantic/semantic.rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>
<body dir="rtl" style="height: 100%; background-image: url({% static 'images/cloud.jpg' %})" >
{% block sidebar %}
    {% include 'base/sidebar.html' %}
{% endblock %}
<div class="pusher">
    {% block body %}
        <div id="main">

            {% block navbar %}
                {% include 'base/navbar.html' %}
            {% endblock %}

            {% block content %}
                <div class="ui container" >
                    {% block container %}

                    {% endblock %}
                </div>
            {% endblock %}

            {% block footer %}
                {% include 'base/footer.html' %}
            {% endblock %}
        </div>
    {% endblock %}

</div>





</body>
</html>