{% load static %}
<div class="ui vertical footer segment" style="bottom: 0;margin-bottom:0;width: 100%;background-color:#b4ede2 ">
<div  class="ui container">

  <div class="ui stackable grid row" style="padding-left: 10%;padding-right: 10%; ">
      <div class="twelve wide column center aligned" style="margin-left: auto;margin-right: auto;">
          <div class="center aligned" style="margin-right: auto;margin-left: auto">
          <a href="{% url 'intro:homepage' %}">
              <img  src="{% static 'images/logo_darkblue.png' %}" class="footer_logo" style="width: 60px;">
          </a>
          </div>
           <div class="center aligned" style="margin-right: auto;margin-left: auto;margin-top: 10px" >

               <h4 class="ui header" style="color: var(--header)"> جمع علمی-ترویجی رستا</h4>
          </div>
           <div class="center aligned" style="margin-right: auto;margin-left: auto ;margin-top: 3%" >
               <a target="_blank" href="https://t.me/rastaiha"  >
                    <img class="social" src="{% static 'images/telegram.png' %}" style="width: 20px;margin-left: 10px;margin-right: 10px"></a>
               <a target="_blank" href="https://www.instagram.com/rastaiha/" >
                    <img class="social" src="{% static 'images/instagram.png' %}" style="width: 20px;margin-left: 10px;margin-right: 10px"></a>
               <a target="_blank" href="https://www.aparat.com/Rastaiha/%D8%AC%D9%85%D8%B9_%D8%B9%D9%84%D9%85%DB%8C-%D8%AA%D8%B1%D9%88%DB%8C%D8%AC%DB%8C_%26laquo%3B%D8%B1%D8%B3%D8%AA%D8%A7%26raquo" >
                   <img class="social" src="{% static 'images/aparat_logo.png' %}" style="width: 20px;margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="https://virgool.io/rastaiha" >
                   <img class="social" src="{% static 'images/virgul_dark_blue.png' %}" style="width: 15px ;height: 25px;margin-left: 10px;margin-right: 10px"></a>
          </div>
           <div class="center aligned" style="margin-right: auto;margin-left: auto;margin-top: 2%">
               <h6 class="ui header" dir="rtl" style="color: var(--header)"> تمامی حقوق این سایت متعلق به جمع علمی-ترویجی رستا است.</h6>
          </div>





      </div>
  </div>


</div>

</div>