{% extends 'base/base.html' %}
{% block content %}
    <div class="ui container" >

        <div class="ui segment mybackground" style="z-index: -1;  background-color: var(--bubble);border-radius: 30px!important;margin: auto; margin-top: 100px">
            {% block container %}
                      <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
            {% endblock %}
        </div>
    </div>
{% endblock %}