{% extends 'base/base.html' %}
{% block content %}
    <div class="ui container" >

        <div class="ui segment mybackground" style="  background-color: rgba(130,202,255,0.3) !important;border-radius: 30px!important;margin: auto;">
            {% block container %}
                      <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
                        <p style="height: 1000px"></p>
            {% endblock %}
        </div>
    </div>
{% endblock %}