{% load static %}
<nav class="ui large mobile-hidden r-nav fixed secondary pointing menu" style="border: none; display: flex;">
    <a class="link mobile-hidden item">
        <img src="{% static 'images/nav-logo.png' %}" alt="" style="width: 50px;">
    </a>

    {% for name , link , is_active in navbar %}
        <a class=" {{ is_active }} link item">
        {{ name }}
        </a>
    {% endfor %}

    <!--<a class="{% if active == 'home' %}'active'{% else %}''{% endif %} link item">-->
        <!--خانه-->
    <!--</a>-->
    <!--<a class="active link item">-->
        <!--رویدادها-->
    <!--</a>-->
    <!--<a class="{% if active == 'blog' %}'active'{% else %}''{% endif %} link item">-->
        <!--بلاگ-->
    <!--</a>-->
    <!--<a class="{% if active == 'contact' %}'active'{% else %}''{% endif %} link item">-->
        <!--تماس با ما-->
    <!--</a>-->
</nav>

