{% load static %}

<a class="logo">
        <img src="{% static 'images/nav-logo.png' %}" alt="" style="width: 50px; ">
    </a>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

  <a class="{% if active == 'home' %}'active'{% else %}''{% endif %} link item" style="border-bottom: #0e8c8c solid 2px;border-top: #0e8c8c solid 2px" >
        خانه
    </a>
     <a class="active link item"style="border-bottom: #0e8c8c solid 2px">
        رویدادها
    </a>
    <a class="{% if active == 'blog' %}'active'{% else %}''{% endif %} link item" style="border-bottom: #0e8c8c solid 2px">
        بلاگ
    </a>
    <a class="{% if active == 'contact' %}'active'{% else %}''{% endif %} link item" style="border-bottom: #0e8c8c solid 2px">
        تماس با ما
    </a>
</div>


<button class="openbtn" onclick="openNav()">☰ </button>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";

}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
}
</script>




