{% load static %}

<a class="logo">
        <img src="{% static 'images/logo_darkblue.png' %}" alt="" style="width:50px">
</a>

<div id="mySidebar" class="sidebar">
    {% for name , link , is_active in navbar %}
        <a href="{{ link }}" class=" {{ is_active }} link item">
        {{ name }}
        </a>
    {% endfor %}
</div>


<button class="openbtn" onclick="openNav()">☰</button>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";

}

$('html').click(function(){
   document.getElementById("mySidebar").style.width = "0px";
});

$('.openbtn').click(function(event){
   event.stopPropagation();
});

</script>




