.blog_bubble {
    border-radius: 20px !important;
    padding: 5% !important;
    background-color: rgba(255,255,255,0.7) !important;
}

.mobile_cat{
    padding: 10px;
    border-bottom: solid 1px ;
    border-color: var(--secondary-dark);
}

.tag_label{
    background-color:var(--secondary-light) !important;
    margin-bottom:4px !important;
}

.tag_label:hover {
    background-color: var(--primary-light) !important;
}


.cat_item{
    padding:20px !important;
    border: 0 !important;
    width: 10% !important;
}

.full-description {
    text-align: justify;
    font-size: medium;
}
.bubble {
    border-radius: 20px !important;
    background-color: var(--bubble) !important;
    padding: 5% !important;
}

.hline {
    color: rgba(34,36,38,.15);
    height: 0px;
    display: block;
    margin: 5% auto;
    overflow: hidden;
    border-style: solid;
    border-width: 0.25px;
}

.file-card {
    width: 90px !important;
}

.file-name {
    overflow-wrap: break-word !important;
    font-size: small !important;
    font-weight: normal !important;
}
