{% extends 'base/base.html' %}
{% load static %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
<script src="{% static 'scripts/scrollreveal.js' %}"></script>
<script src="{% static 'events/scripts/single_event_js.js' %}"></script>
{% endblock %}

{% block container %}

<div class="ui stackable grid">

    <div class="ui five wide column parent" style="height: 100% !important;margin-top: 140px;margin-bottom: 50px">
        <img class="ui poster image child" alt="" src="{{ event.poster.url }}">
    </div>

    <div class="ui eleven wide column">
        <div class="ui bubble segment" style="margin-top: 140px;margin-bottom: 50px" dir="rtl">

            <h1 class="ui center aligned huge header" style="color: var(--header)">
                {{ event.name }}
            </h1>

            <h3 class="ui center aligned medium header" style="color: var(--secondary-dark)">
                {{ event.location }} - {{ month }} {{ year }}
            </h3>

            <hr class="hline">

            <div class="full-description">{{ event.description|safe }}</div>

            <div class="ui container center aligned">
                <a class="ui album button" href="/events/">
                    آلبوم تصاویر
                </a>
            </div>

            {% if docs|length != 0 %}
            <hr class="hline">
            {% endif %}

            <div class="ui special cards">
                {% for doc, type in docs %}
                <div class="card file-card" style="opacity:95%!important;">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button" id="{{doc.id}}link" >دانلود کن
                                      <form name="downloader" id="{{doc.id}}downloader"
                                          action="/download/"
                                          method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="original_file_name"
                                               value="{{ doc.file.name }}"/>
                                  </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'images/icons/pdf-icon.png' %}">
                    </div>
                    <div class="content">
                        <a class="file-name" style="color: var(--header)"> {{ doc.caption}}</a>
                    </div>

                </div>
                {% endfor %}
            </div>


<!--            <div class="ui stackable grid">-->
<!--                {% for doc, ext in docs %}-->
<!--                {{ doc.caption }}-->

<!--                <a-->
<!--                        class=" ui inverted yellow button "-->
<!--                        data-position="left center" data-inverted=""-->
<!--                        style="margin-left: 15px; margin-right: 15px;border-radius: 20px"-->
<!--                        id="{{doc.id}}link">-->
<!--                    <i class="inverted orange download icon"-->
<!--                       style="margin-left: 5px;margin-right: 5px"></i> download {{ doc.id }}-->
<!--                </a>-->


<!--                <form name="downloader" id="{{doc.id}}downloader"-->
<!--                      action="/download/"-->
<!--                      method="POST">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="original_file_name"-->
<!--                           value="{{ doc.file.name }}"/>-->
<!--                </form>-->

<!--                {% endfor %}-->
<!--            </div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script>

       {% for doc, ext in docs %}
          document.getElementById("{{doc.id}}link").addEventListener("click", function () {
               document.getElementById("{{ doc.id }}downloader").submit();
             });
        {% endfor %}


</script>
{% endblock %}
