{% extends 'base/base.html' %}
{% load static %}
{% block extra_header %}
        <link rel="stylesheet" href="{% static 'blog/css/blogstyle.css' %}">
{% endblock %}
{% block content %}
    <div style="height: 70%; width: 100%;background-image: url({% static 'images/5.jpg' %});background-size: cover">
        <div class="ui stackable two column grid middle aligned " style="padding-top: 100px;padding-bottom: 50px">
            <div class=" center aligned column">
                <img src="{% static 'contact_us/images/element1.png' %}">
            </div>
            <div class=" center aligned column">
                <p style="font-weight: bolder;font-size: 50px">
                    با اخبار رستا همراه باشید!
                </p>

            </div>
        </div>

    </div>
    <div style="height: 8000px;width:100%;background-image: url({% static 'images/pattern.jpg' %});">
        {% block cats %}
            {% include 'blog/cats.html' %}
        {% endblock %}
        {% block posts %}
            {% include 'blog/posts.html' %}
        {% endblock %}

    </div>
{% endblock %}