<form id="blog_form" method="post" class="ui form error" style="margin:auto;width: 90%">{% csrf_token %}
    <input type="hidden" name="is_comment" value="True">
    <input type="hidden" name="post" value="{{post.id}}">
    <div class="two fields">
        <div class="field required">
            <label>نام و نام خانوادگی</label>
            <input type="text" name="author_name">
        </div>
        <div class="field required">
            <label>ایمیل</label>
            <input type="email" name="email">
        </div>
        {% if form.email.errors %}
        <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
            <strong>پارامترهای ورودی صحیح نمی‌باشد.</strong>
        </div>
        {% endif %}
    </div>

    <div class="field required">
        <label>متن نظر</label>
        <textarea name="text"></textarea>
    </div>
    <div class="bibot-captcha" style="" data-sitekey="{{ bibot }}" data-callback="bibot_callback"></div>

    {% if messages %}
    <ul class="back_messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <button type="submit" class="ui button"
            style="background-color: var(--secondary-dark) ;color: white;font-weight: bolder;margin-top: 20px">
        ثبت کن !
    </button>

</form>

