{% load static %}

<div class="ui container">
    <div class="ui items">
        {% for post in posts %}
        <div class="item " style=" border-radius: 20px;padding: 5%; background-color:white !important;">
            <div class="ui small image">
                <img src="{{ post.photo.url }}">
            </div>
            <div class="middle aligned content">
                <a class="header"> {{ post.title }} </a> <!--todo href for selected post-->
                <div class="meta">
                    <span> {{ post.publish_date }} </span>
                </div>
                <div class="description">
                    <p> {{ post.summary|safe }}</p>
                </div>
                <div class="extra">
                    {% for cat in post.categories %}
                    <div class="ui label" style="background-color:var(--primary-light)"> {{ cat.title }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>