{% load static %}

<div class="ui container">
    <div class="ui items" style="padding-bottom:2%;">
        {% for post in posts %}
        <div class="item blog_bubble">
            <div class="ui small image">
                {% if post.photo %}
                <img src="{{ post.photo.url }}">
                {% else %}
                <img src="{% static 'blog/images/default.png' %}">
                {% endif %}
            </div>
            <div class="middle aligned content">
                <a href="/blog/posts/{{ post.id }}/{{ post.title }}/" class="header"> {{ post.title }} </a>
                <div class="meta">
                    <span> {{ post.publish_date }} </span>
                </div>
                <div class="description">
                    <p> {{ post.summary|safe }}</p>
                    <a href="/blog/posts/{{ post.id }}/{{ post.title }}/"> ادامه مطلب ...</a>
                </div>
                <div class="extra">
                    {% for cat in post.categories %}
                    <a href="/blog/{{ cat.url }}">
                        <div class="ui label tag_label">
                            {{ cat.title }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>