{% extends 'base/pattern_base.html' %}
{% load static %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'blog/css/blogstyle.css' %}">
<script src="{% static 'scripts/scrollreveal.js' %}"></script>
<script src="{% static 'blog/scripts/blog_js.js' %}"></script>
<script src="https://bibot.ir/bibot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async></script>
{% endblock %}

{% block content %}
<div style="height: 20%; width: 100%;background-color: var(--primary-light);background-size: cover; margin-top: 140px">
    <div class="ui container right aligned" style="padding: 50px;">
        <div class="ui stackable grid">

            <div class="ui four wide column center aligned ">
                <div class="ui small circular image">
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}">
                    {% else %}
                    <img src="{% static 'blog/images/default.png' %}">
                    {% endif %}
                </div>
            </div>
            <div class="ui twelve wide column left aligned">
                <div style="margin-top: 20px">
                    <h1 class="ui  huge header" style="color: var(--header);">
                        {{ post.title}}
                    </h1>


                    <h3 class="ui medium header" style="color: var(--secondary-dark)">
                        {{ day }} {{ month }} {{ year }} -{{ time }}
                    </h3>
                    {% for cat in post.categories %}
                    <a href="/blog/{{ cat.url }}">
                        <div class="ui label " style="background-color:var(--primary-pink) !important; color: white">
                            {{ cat.title }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>


        </div>


    </div>

</div>

<div style="margin-top: 50px">
    <div class="ui single-post container">
        <div class="ui segment"
             style="margin-bottom: 50px; border-radius: 20px !important;background-color: rgba(255,255,255,0.7) !important;padding: 5% !important;">
            <div class="full-description">{{ post.text|safe }}</div>
            {% if docs|length != 0 %}
            <hr class="hline">


            <div class="ui special cards">
                {% for doc, type in docs %}
                <div class="card file-card" style="opacity:95%!important;">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button" id="{{doc.id}}link">دانلود کن
                                        <form name="downloader" id="{{doc.id}}downloader"
                                              action="/download/"
                                              method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="original_file_name"
                                                   value="{{ doc.file.name }}"/>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% static "" as baseUrl %}
                        <img src="{{ baseUrl }}/images/icons/{{ type }}.png">
                    </div>
                    <div class="content">
                        <a class="file-name" style="color: var(--header)"> {{ doc.caption}}</a>
                    </div>

                </div>
                {% endfor %}


            </div>
            {% endif %}
        </div>

        <div class="ui segment"
             style="margin-bottom: 50px; border-radius: 20px !important;background-color: rgba(255,255,255,0.7) !important;padding: 5% !important;">
            <h3 class="ui dividing header">نظرات</h3>
            <div class="ui comments" id="all_comments">
                {% for comment in comments %}


                <div class="comment" id="cm_{{ comment.id }}">
                    <a class="avatar">
                        <svg data-jdenticon-value={{ comment.author_name }}></svg>
                    </a>
                    <div class="content">
                        <a class="author">{{comment.author_name}}</a>
                        <div class="metadata">
                            <div class="date">{{comment.date_time}}</div>
                        </div>
                        <div class="text">
                            {{comment.text}}
                        </div>
                        <div class="actions">
                            <a class="reply" id="reply_button_{{ comment.id }}"
                               onclick="create_reply_form({{ comment.id }})">پاسخ</a>
                        </div>
                        <div class="comments" id="replies_{{ comment.id }}">
                            {% for reply in comment.replies %}
                            <div class="comment" {% if reply.is_admin %} style="background-color: lightblue" {% endif %}>
                                <a class="avatar">
                                    <svg data-jdenticon-value={{ reply.author_name }}></svg>
                                </a>
                                <div class="content">
                                    <a class="author">{{ reply.author_name }}</a>
                                    <div class="metadata">
                                        <span class="date">{{reply.date_time}}</span>
                                        {% if reply.is_admin %}
                                        <div class="rating">
                                            <i class="star icon"></i>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="text">
                                        {{ reply.text }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% block form %}
            {% include 'blog/comment_form.html' %}
            {% endblock %}
        </div>
    </div>
</div>

{# todo add comment here#}


</div>
{% endblock %}

{% block footer_scripts %}
<script>

       {% for doc, ext in docs %}
          document.getElementById("{{doc.id}}link").addEventListener("click", function () {
               document.getElementById("{{ doc.id }}downloader").submit();
             });
        {% endfor %}

var remove_form = -1;

        function create_reply_form(comment_id) {

           var x = document.getElementById('reply_form_div'+comment_id);
           remove_prev_form(comment_id);
           if(x!= null){
               if(document.getElementById('reply_button_'+comment_id).innerText =="لغو پاسخ")
                   document.getElementById('reply_button_'+comment_id).innerText = "پاسخ";

               x.parentElement.removeChild(x);
               remove_form = -1
           }
            else {

                document.getElementById('reply_button_'+comment_id).innerText= "لغو پاسخ";
                var reply_form = document.createElement('div');

        reply_form.id = 'reply_form_div' + comment_id;
        reply_form.class = 'ui stackable grid';
        reply_form.innerHTML = {{ reply_form }};


        remove_form = comment_id;
        document.getElementById('cm_' + comment_id).appendChild(reply_form);
        run_bibot();
        var remove_captcha = document.getElementById("bibot-captcha");
           remove_captcha.firstChild.removeChild(remove_captcha.firstChild.lastChild)
           remove_captcha.firstChild.removeChild(remove_captcha.firstChild.lastChild)
               remove_captcha.removeChild(remove_captcha.lastChild);
    }
    $(document).on('submit', '#reply_form_' + comment_id, function (e) {
        e.preventDefault();
        submit_reply(comment_id);})
    }


</script>
{% endblock %}