 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--primary-dark);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidebar a {
  padding: 15px 10px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: var(--secondary-white);
  display: none;
  transition: 0.3s;
}


.sidebar a.active{
  background-color: var(--secondary-dark);
  color: var(--primary-white);
  }

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 15px 15px 10px 15px;
  border: none;
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 50%;
  border-radius: 10px;
  z-index: 50;
}

.logo{
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .openbtn {display: block;}
  .sidebar a {display: block;}
  .logo { display: block}
}