 body{
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
 }

 html{
     scroll-behavior: smooth;
 }

.social:hover {

    transform:  scale(1.5);

}
.social {
      transition: ease-in-out 200ms;
}
.footer_logo {
      transition: ease-in-out 200ms;
}

.footer_logo:hover{
    transform: rotate(30deg) ;
}