 :root {
  --primary-dark:#001d47;
  --secondary-dark: #002b80;
  --primary-light:#82CAFF;
  --secondary-light:#c4e6ff;
}


body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

.social {
    transition: ease-in-out 200ms;
}

.social:hover {

    transform: scale(1.5);

}

.social {
    transition: ease-in-out 200ms;
}

.footer_logo {
    transition: ease-in-out 200ms;
}
