<div class="ui center aligned stackable grid">

    {% for post in posts %}
        <div class="ui four wide column fade-reveal">
            <div class="card1 reveal_fade center aligned" href="#" style="width: 90%;">
                <h3>{{ post.title }}</h3>
                <p class="small" style=" text-align: right"><br>{{ post.summary }}
                    <br>
                    <a href="/blog/posts/{{ post.id }}/{{ post.title }}/">ادامه مطلب ... </a>

                </p>

                <div class="go-corner">
                    <div class="go-arrow">
                        ↵
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}
</div>