{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'intro/css/homepage_style.css' %}">
<script type="text/javascript" src="{% static 'scripts/rasta_bird.js' %}"></script>
<script src="{% static 'scripts/scrollreveal.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}

{% block  content %}
<div class="ui stackable aligned segment homepage_section"
     style="background-color: rgba(0, 0, 0, 0);
     height:100vh;
     padding-top:25vh !important;">
    <div class="ui middle aligned stackable grid container two column" style="direction:ltr">

        <div class="ui center aligned column reveal_fade">
            <img id="bird" src="{% static 'images/nav-logo.png' %}"
                 style="vertical-align: middle;width:30vw;">
        </div>

        <div class="column" style=" text-justify: inter-word;">
            <div class="mobile-only" style=" text-align: center;">
                <div class="row reveal_fade">
                    <p class="reveal_fade" style="font-weight:bolder;font-size:60px;color: var(--header)"> رستا</p>
                    <p class="reveal_fade" style="font-size:40px;font-weight: bold;color: var(--header)"> جمع
                        علمی-ترویجی</p>
                     <form class="ui form" method="post" id="notify">{% csrf_token %}
            <div class="field">
                <div class="ui action input" style="margin-top: 0px; margin-bottom: 25px;height: 50px; width: 300px;">

                    <button class="ui button" type="submit" id="button1"style="font-size: 10px; border-bottom-left-radius: 20px;border-top-left-radius: 20px;   background-color: var(--primary-dark); color: white"

                    >
                        عضویت در خبرنامه
                    </button>
                    <input type="email" placeholder="ایمیل"
                           style=" border-bottom-left-radius: 20px;border-top-left-radius: 20px;  background-color: #fff3d9;color: black"
                           id="email1" name="email">


                </div>
            </div>
        </form>
                </div>
            </div>
            <div class="mobile-hidden" style=" text-align: justify;">
                <div class="row reveal_fade">
                    <p class="reveal_fade" style="font-weight:bolder;font-size:80px;color: var(--header)"> رستا</p>
                    <p class="reveal_fade" style="font-weight:bolder;font-size:30px;color: var(--header)"> جمع
                        علمی-ترویجی</p>
                    <br><br>
              <form class="ui form" method="post" id="notify">{% csrf_token %}
            <div class="field">
                <div class="ui action input" style="margin-top: 0px; margin-bottom: 25px;height: 50px; width: 350px;">

                    <button class="ui button" type="submit" id="button2"style=" border-bottom-left-radius: 20px;border-top-left-radius: 20px;   background-color: var(--primary-dark); color: white"

                    >
                        عضویت در خبرنامه
                    </button>
                    <input type="email" placeholder="ایمیل"
                           style=" border-bottom-left-radius: 20px;border-top-left-radius: 20px;  background-color: #fff3d9;color: black"
                           id="email2" name="email">


                </div>
            </div>
        </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="modal" class="ui basic modal test">
  <div class="ui icon header">
    <i class="envelope outline icon"></i>
   عضویت در خبرنامه
  </div>
  <div class="content" id="content" align="center" style="font-weight: bolder;font-size: 30px">
 <p   id="message">Some text in the Modal..</p>  </div>
  <div class="actions" align="center">
    <div class="ui inverted teal large ok button"  style="font-weight: bolder">

    باشه!
    </div>
  </div>

        </div>

<div class="ui stackable center aligned segment homepage_section"
     style="background-color:var(--primary-light);">
    <div class="ui middle aligned stackable grid container" style="direction:LTR; padding:0!important">
        <div class="row" dir="rtl">
            <h1 class="reveal_fade" style="color:var(--header)">
                <i class="users large icon"></i>
                ما کیستیم؟
            </h1>
        </div>
        <div class="row">
            <div class="one wide column"></div>
            <div class="ui center aligned seven wide column reveal_fade">
                <style>
                        .h_iframe-aparat_embed_frame {
                            position: relative;
                        }

                        .h_iframe-aparat_embed_frame .ratio {
                            display: block;
                            width: 100%;
                            height: auto;
                        }

                        .h_iframe-aparat_embed_frame iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }




                </style>
                <div class="h_iframe-aparat_embed_frame">
                    <span style="display: block;padding-top: 57%"></span>
                    <iframe src="{{ aparat_url }}" allowFullScreen="true" webkitallowfullscreen="true"
                            mozallowfullscreen="true">
                    </iframe>
                </div>

            </div>
            <div class="one wide column"></div>
            <div class="six wide column reveal_fade" dir="rtl"
                 style=" text-align: justify; text-justify: inter-word;">
                {{ intro|safe }}
            </div>
        </div>
    </div>

</div>


{% if upcoming_event %}
<div class="ui stackable center aligned segment homepage_section"
     style="background-image: url({% static 'images/pattern.jpg' %});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;">

    <div class="ui middle aligned stackable grid container" style="direction:rtl">
        <div class="row">
            <h1 class="reveal_fade" style="color:var(--header)">
                <i class="ui calendar alternate outline icon"></i>
                رویداد پیش رو
            </h1>
        </div>

        <div class="row">
            <div class="one wide column"></div>
            <div class="ui center aligned seven wide column reveal_fade">
                <img class="ui centered large rounded image" src="{{ upcoming_event.poster.url }} ">
            </div>
            <div class="one wide column"></div>
            <div class="six wide column" dir="rtl" style=" text-align: justify; text-justify: inter-word;">
                <div class="row reveal_fade">
                    <h2 style="color: var(--header)">
                        {{ upcoming_event.title |safe }}
                    </h2>
                </div>

                <div class="row reveal_fade">
                    <p style="color: var(--header)">
                        {{ upcoming_event.intro | safe }}
                    </p>
                </div>
                <br>
                <div class="row">
                    <div style=" text-align: center" class="reveal_fade">
                        <button class="ui button" style="background-color: var(--secondary-dark) ;color: white"
                                onclick="window.location.href = '{{ upcoming_event.button_link }}'">
                            {{ upcoming_event.button_name }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endif %}


<div class="ui bubble segment homepage_section "
     {% if upcoming_event %} style="background-color:var(--primary-light);"
     {% else %} style="
                    background-image: url({% static 'images/pattern.jpg' %});
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;" {% endif %}>
    <div class="ui container">
        <div class="row" dir="rtl">
            <h1 class="reveal_fade" style="color:var(--header)">
                <i class="calendar check icon"></i>
                آخرین رویدادها
            </h1>
        </div>


        <div class="ui" style="margin-top: 70px;margin-bottom: 50px" dir="rtl">

            <div class="ui centered cards">
                {% for event in events %}

                <div class="flip-card step-reveal">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ event.poster.url }}" style="width:300px;height:400px; border-radius: 10px">
                        </div>
                        <div class="text-block">
                            <h2>{{ event.name }}</h2>
                            <p>{{ event.month }} {{ event.year }}</p>
                        </div>
                        <div class=" flip-card-back">
                            <div class="center-vertically">
                                <p>{{ event.summary }}</p>
                                <a href="/events/{{ event.id }}/"> ادامه مطالب ... </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="ui container center aligned">
            <a class="ui button step-reveal" href="/events"
               style="margin-left: auto;margin-right: auto;background-color: var(--secondary-dark) ;color: white;font-weight: bolder;margin-top: 20px">
                مشاهده تمام رویدادها
            </a>
        </div>
    </div>
</div>


<div class="ui stackable segment homepage_section "
     {% if upcoming_event %} style="
                    background-image: url({% static 'images/pattern.jpg' %});
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;"
     {% else %}
     style="background-color:var(--primary-light);" {% endif %}>

    <div class="ui container">
        <div class="row" dir="rtl">
            <h1 class="reveal_fade" style="color:var(--header); margin-bottom: 50px;right: 0">
                <i class="bookmark large icon"></i>
                آخرین پست‌های بلاگ

            </h1>
        </div>
        {% include 'intro/blog_card.html' %}

        <div class="ui container center aligned">
            <a class="ui button step-reveal" href="/blog/"
               style="margin-left: auto;margin-right: auto;background-color: var(--secondary-dark) ;color: white;font-weight: bolder;margin-top: 20px">
                مشاهده تمام پست‌ها
            </a>
        </div>
    </div>
</div>
</div>


{% endblock %}


{% block footer_scripts %}
<script>
        ScrollReveal().reveal('.reveal_fade', {delay: 500});
        ScrollReveal().reveal('.step-reveal', {delay:200, duration: 400, easing: 'ease-in-out', interval: 200});
                $('#button1').click(function (e) {
            e.preventDefault();
            if (validateEmail($('#email1').val())) {
                $.ajax({
                    type: 'POST',
                    url: '/notify',
                    data: {
                        email: $('#email1').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data['success'] == true) {
                            document.getElementById('message').innerText = 'ایمیل شما با موفقیت ثبت شد';
                            document.getElementById('content').style.color = '#009D8A';
                        } else {
                            document.getElementById('message').innerText = 'ایمیل شما قبلا ذخیره شده است';
                            document.getElementById('content').style.color = '#ED1A3A';
                        }
                    },
                    error: function (data) {
                        document.getElementById('message').innerText = 'اتصال با سایت با مشکل رو به رو شده است';
                        document.getElementById('content').style.color = '#ED1A3A';
                    }
                });
            } else {
                document.getElementById('message').innerText = 'آدرس ایمیل به درستی وارد نشده است';
                document.getElementById('content').style.color = '#ED1A3A';
            }

            $(".test").modal('show');
            $(".test").modal({
		closable: true
	});
            document.getElementById('email1').value = '';


        });
                 $('#button2').click(function (e) {
            e.preventDefault();
            if (validateEmail($('#email2').val())) {
                $.ajax({
                    type: 'POST',
                    url: '/notify',
                    data: {
                        email: $('#email2').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data['success'] == true) {
                            document.getElementById('message').innerText = 'ایمیل شما با موفقیت ثبت شد';
                            document.getElementById('content').style.color = '#009D8A';
                        } else {
                            document.getElementById('message').innerText = 'ایمیل شما قبلا ذخیره شده است';
                            document.getElementById('content').style.color = '#ED1A3A';
                        }
                    },
                    error: function (data) {
                        document.getElementById('message').innerText = 'اتصال به سایت با مشکل رو به رو شده است';
                        document.getElementById('content').style.color = '#ED1A3A';
                    }
                });
            } else {
                document.getElementById('message').innerText = 'آدرس ایمیل به درستی وارد نشده است';
                document.getElementById('content').style.color = '#ED1A3A';
            }
            $(".test").modal('show');
            $(".test").modal({
		closable: false
	});
            document.getElementById('email2').value = '';


        });
    </script>
{% endblock %}
