{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
        <script type="text/javascript" src="{% static 'scripts/rasta_bird.js' %}"></script>
{% endblock %}

{% block  content %}
<div class="ui stackable aligned segment"
     style="background-color: rgba(0, 0, 0, 0);
     height:100vh;
     border-radius:0;
     margin-top :0!important;
     margin-bottom: 0 !important;">
    <div class="ui grid" style="direction:LTR">
        <div class="two wide column">
        </div>
        <div class="four wide column " id="bird" >
            <img src="{% static 'images/logo.png' %}"
                 style="height:70vh;margin-top:20vh;">
        </div>
        <div class="four wide column"></div>
        <div class="three wide column" style="padding-top:40vh;">
            <p style="font-size:50px"> رستا</p>
            <p style="font-size:40px"> جمع علمی-ترویجی</p>
        </div>
    </div>

</div>


<div class="ui stackable center aligned segment"
     style="background-color:var(--primary-light);
     <!--height:100vh;-->
     border-radius:0;
     margin-top :0!important;
     margin-bottom: 0 !important;">
     <div class="ui middle aligned stackable grid container" style="direction:LTR"> 
         <div class="row">
             <div class="ui center aligned">
                 <img src="{% static 'images/label.png' %}" style="height:15vh">
             </div>
         </div>
         <div class="row">
            <div class="one wide column"></div>
            <div class="ui center aligned seven wide column">
                <style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}</style>
                <div class="h_iframe-aparat_embed_frame">
                    <span style="display: block;padding-top: 57%"></span>
                    <iframe src="{{ aparat_url }}" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                    </iframe>
                </div>

            </div>
            <div class="one wide column"> </div>
            <div class="six wide column" dir="rtl" style=" text-align: justify; text-justify: inter-word;">
                    {{ intro|safe }}
            </div>
         </div>
    </div>



</div>


<div class="ui stackable center aligned segment"
     style="background-color:var(--secondary-light);
     height:100vh;
     border-radius:0;
     margin-top :0!important;
     margin-bottom: 0 !important;">
    <p>salam</p>
</div>

{% endblock %}



