.bubble {
    border-radius: 20px !important;
    background-color: var(--bubble) !important;
    padding: 5% !important;
}

.single-bubble {
    border-radius: 20px !important;
    background-color: rgba(255,255,255,0.7) !important;
    padding: 5% !important;
}

.card {
    margin: 2% 2% !important;
    text-align: center !important;
}

.r-event-header {
    margin-top: 3% !important;
    margin-bottom: 5% !important;
}

.ui.ribbon {
    color: #ffffff!important;  /*var(--primary-white);*/
    background-color: #e02c68 !important;  /*var(--primary-pink);*/
    border-color: #9c264e !important;  /*var(--secondary-pink);*/
}

.ribbon {
    margin-right: 5% !important;
}

.ui.column.test-poster {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover; 
}

.hline {
    color: rgba(34,36,38,.15);
    height: 0px;
    display: block;
    margin: 5% auto;
    overflow: hidden;
    border-style: solid; 
    border-width: 0.25px;
}

.full-description {
    text-align: justify;
    font-size: medium;
}

.ui.album.button {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-dark);
    color: white;
    font-weight: bolder;
    margin-top: 20px
}

.file-card {
    width: 90px !important;
}

.file-name {
    overflow-wrap: break-word !important;
    font-size: small !important;
    font-weight: normal !important;
}

@media only screen and (min-width: 768px) {
    .ui.poster.image {
        position: fixed;
        top: 30%;
        transition: 0.7s;
    }

    .single-bubble {
        min-height: 600px !important;
    }
}