.bubble {
    border-radius: 20px !important;
    background-color: var(--bubble) !important;
    padding: 5% !important;
}


.card {
    margin: 2% 2% !important;
    text-align: center !important;
}

.r-event-header {
    margin-top: 3% !important;
    margin-bottom: 5% !important;
}

.ui.ribbon {
    color: #ffffff!important;  /*var(--primary-white);*/
    background-color: #e02c68 !important;  /*var(--primary-pink);*/
    border-color: #9c264e !important;  /*var(--secondary-pink);*/
}

.ribbon {
    margin-right: 5% !important;
}