.bubble {
    border-radius: 20px !important;
    background-color: var(--bubble) !important;
    padding: 5% !important;
}

.detail {
    max-width: 100%;
    margin-top: 1vh;
    line-height: 150%;
    text-align: center!important;
}
.member-name {
    color: var(--header);
    font-weight: bold;
    font-size: large;
}

.member-role {
    color: var(--header);
    font-size: medium;
}

.member-edu {
    color: var(--secondary-dark);
    font-size: small;
}

#contact_form label{
    color: var(--header)
}